@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap");

:root {
  --font-desactive-color: #c4c4c4;
}

.topbar-container {
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  background: #eeeee6;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.logo {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
}

.name {
  font-family: "Calibri";
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

.navigation-container {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-li {
  list-style: none;
  margin-right: 2rem;
  font-family: "Calibri";
}

.navigation-buttons {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--font-desactive-color);
  font-family: "Calibri";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  letter-spacing: 0.12rem;
  width: auto;
  height: auto;
}

.navigation-buttons:hover {
  color: #000;
  transition: 0.5s;
}

.bottom-line {
  position: relative;
  text-decoration: none;
}

.bottom-line::before,
.bottom-line::after {
  width: 0;
  height: 0.15rem;
  bottom: -0.06rem;
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  transition: width 0.5s ease-in-out;
}

.bottom-line::before {
  left: 0;
}

.bottom-line::after {
  right: 0;
}

.bottom-line:hover::before,
.bottom-line:hover::after {
  width: 50%;
}

.bottom-line.active::before,
.bottom-line.active::after {
  width: 50%;
}

.webs-number-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 5rem;
  justify-content: center;
  align-items: center;
}

.webs {
  display: flex;
  flex-direction: row;
}

.number-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.number {
  font-size: 1.12rem;
  font-family: "Calibri";
}

/* responnsive personalizado */
@media screen and (max-width: 970px) {
  .navigation-container {
    display: none;
  }

  .webs-number-container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-container {
    margin-right: auto;
    margin-left: auto;
  }
}

/* celular grande */

@media screen and (max-width: 720px) {
}

/* celular mediano */

@media screen and (max-width: 400px) {
  .logo-container {
    margin-left: auto;
    margin-right: 0;
  }
  .logo {
    width: 4rem;
    height: 4rem;
  }
  .name {
    font-size: 1.3rem;
  }

  .webs-number-container {
    height: 4rem;
    margin-right: auto;
    margin-left: 0;
  }

  .webs {
    display: flex;
    flex-direction: row;
  }

  .number {
    font-size: 1rem;
  }
}

/* celular chico */
@media screen and (max-width: 370px) {
  .name {
    font-size: 1.1rem;
  }
  .logo-container {
    margin-right: 0;
  }
  .webs-number-container {
    margin-left: 0;
  }
}
