.container-contact {
  width: 100%;
  height: 100%;
  background-color: #c4c4c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.separator-two {
  height: 3px;
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 1rem 0 1rem 0;
}

.separator-two.active {
  transform: scaleX(1);
  transition: 2s;
}

.title-contact {
  color: #fff;
  font-size: 3rem;
  font-family: "Calibri";
}

.container-cards-service-contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

/* services */

.container-card-services {
  width: 50%;
  height: 30rem;
  display: flex;
  flex-direction: row;
  background-color: #eeeee6;
  margin-right: 0.5rem;
}

.image-services {
  width: 40%;
  height: 100%;
}

.services {
  margin: 0.5rem 0.5rem 0.5rem 0rem;
}

.title-services {
  margin: 0 0 0 1rem;
  font-size: 3rem;
  font-family: "Calibri";
}

.subtitle-services {
  margin: 0 0 0.5rem 1rem;
  font-size: 2rem;
  font-family: "Calibri";
}

.ul-services {
  margin: 0 0 0 1.2rem;
}

.li-services {
  list-style: none;
  font-size: 1.5rem;
  font-family: "Calibri";
}

.logo-services {
  width: 7rem;
  height: 7rem;
  z-index: 6;
  margin-top: 22rem;
  margin-left: 44rem;
  position: absolute;
}

/* contactos */

.container-card-contact {
  width: 50%;
  height: 30rem;
  display: flex;
  flex-direction: row;
  background-color: #eeeee6;
  margin-left: 0.5rem;
}

.image-card-contact {
  width: 55%;
  height: 70%;
  margin: 1rem 1rem 1rem 1rem;
}

.info-card-contact {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.title-card-contact {
  font-size: 2.5rem;
  margin: 0;
  font-family: "Calibri";
}

.subtitle-contact {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
  font-family: "Calibri";
}

.items-contact {
  font-size: 1.3rem;
  margin: 0 0 0.5rem 0;
  font-family: "Calibri";
}

.logo-contact {
  width: 7rem;
  height: 7rem;
  z-index: 6;
  margin-top: 22rem;
  margin-left: 44rem;
  position: absolute;
}

/* responnsive personalizado */
@media screen and (max-width: 970px) {
  .container-cards-service-contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-card-services {
    width: 70%;
    height: auto;
    margin: 0 0 0.5rem 0;
    flex-direction: column;
  }

  .image-services {
    width: 100%;
  }

  .li-services {
    font-size: 1.2rem;
  }

  .container-card-contact {
    width: 70%;
    height: auto;
    margin: 0 0 0.5rem 0;
    flex-direction: column;
  }

  .image-card-contact {
    width: 100%;
    margin: 0;
  }
}

/* celular grande */

@media screen and (max-width: 720px) {
  .title-card-contact {
    font-size: 2rem;
  }

  .subtitle-contact {
    font-size: 1.5rem;
  }

  .items-contact {
    font-size: 1.3rem;
  }

  .title-services {
    font-size: 2rem;
  }

  .subtitle-services {
    font-size: 1.5rem;
  }
}

/* celular mediano */

@media screen and (max-width: 400px) {
}

/* celular chico */
@media screen and (max-width: 370px) {
}
