.container-specialties {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  background-color: #c4c4c2;
}

.title {
  color: #fff;
  font-size: 3rem;
  font-family: "Calibri";
}

.separator {
  height: 3px;
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 1rem 0 1rem 0;
}

.separator.active {
  transform: scaleX(1);
  transition: 2s;
}

.container-cards {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 25rem;
  background-color: none;
  align-items: center;
}

.card:hover {
  transform: translateY(-0.5rem);
  transition: 0.5s;
}

.speciality-image {
  width: 100%;
  height: 21.4rem;
  border-radius: 10rem;
  filter: blur(0.06rem);
}

.speciality-image:hover {
  border-radius: 0;
  filter: blur(0);
  transition: 0.5s;
}

.speciality-name {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  width: 100%;
  text-align: start;
  color: #fff;
  font-family: "Calibri";
}

/* responnsive personalizado */
@media screen and (max-width: 970px) {
  .title {
    font-size: 2rem;
  }

  .separator {
    width: 80%;
  }
  .card:hover {
    transform: none;
    transition: none;
  }
}

/* celular grande */

@media screen and (max-width: 720px) {
  .container-cards {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 2rem;
    width: 100%;
  }
  .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 14.5rem;
    align-items: center;
    justify-content: space-around;
  }

  .card:hover {
    transform: none;
    transition: none;
  }

  .speciality-image {
    width: 13.5rem;
    height: 12rem;
    border-radius: 50%;
    filter: blur(0.06rem);
  }

  .speciality-name {
    font-size: 1.5rem;
    text-align: start;
    margin: 0;
    width: auto;
  }
}

/* celular mediano */

@media screen and (max-width: 400px) {
  .title {
    font-size: 1.5rem;
  }
}

/* celular chico */
@media screen and (max-width: 370px) {
  .speciality-image {
    width: 10.5rem;
    height: 10rem;
  }

  .speciality-name {
    font-size: 1.3rem;
    text-align: start;
    margin: 0;
    width: auto;
  }
}
