.container-doctorpresentation {
  /* background-image: url("../../imgs/background-prueba.png"); */
  width: 100%;
  height: 100%;
  background-color: #333333;
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: row;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.image {
  opacity: 0;
  width: 25rem;
  height: 25rem;
}

.image.active {
  animation: slideInRight 0.5s ease forwards;
}

.container-image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-description-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.doctor-name {
  width: 100%;
  text-align: start;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #ffffff;
  font-family: "Calibri";
}

.doctor-description {
  width: 100%;
  max-width: 70%;
  font-size: 1.5rem;
  text-align: justify;
  color: #ffffff;
  font-family: "Calibri";
}

/* responnsive personalizado */
@media screen and (max-width: 970px) {
  .doctor-description {
    max-width: 90%;
  }

  .doctor-description-container {
    margin-left: 1rem;
  }

  .container-image {
    margin-right: 1rem;
  }

  .image {
    opacity: 0;
    width: 20rem;
    height: 20rem;
  }
}

/* TERMINAR EL CSS RESPONSIVE EN 400PX DE ESTA SCREEN */

/* celular grande */

@media screen and (max-width: 720px) {
  .image {
    opacity: 0;
    width: 15rem;
    height: 15rem;
    margin-top: 2rem;
  }

  .container-image {
    margin-right: 0;
  }
  .container-doctorpresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .doctor-description {
    max-width: 100%;
    font-size: 1.2rem;
  }

  .doctor-description-container {
    width: 80%;
    align-items: center;
    margin-left: 0;
  }

  .doctor-name {
    text-align: center;
    margin-bottom: 0.2rem;
    font-size: 1.8rem;
  }
}

/* celular mediano */

@media screen and (max-width: 400px) {
}

/* celular chico */
@media screen and (max-width: 370px) {
}
